*.o
.*
Makedepend
Makefile
Makeoptions
join_vtk
config.log
config.status
config.h
defs.h
configure
autom4te.cache
athena
*Makedepend
*Makefile
src/config.h
src/defs.h
src/problem.c
*__pycache__
vis/particle/join_lis
*temp*
bin/test*