*.o
.*
Makedepend
Makefile
Makeoptions
join_vtk
config.log
config.status
config.h
defs.h
autom4te.cache
athena*
*Makedepend
*Makefile
src/config.h
src/defs.h
src/problem.c
*__pycache__
vis/particle/join_lis
*temp*
bin_testing/test*
bin_testing/unit_tests
bin_paper1/test*
bin_paper1/beskow_test*
bin_paper1/prod1_corr_ampl/results*
*.mp4
bin/unit_tests
*.pkl
*.png
tf_dashboard_testing